html {
    font-family: 'Outfit', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: hsl(212, 45%, 89%);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;

}

.panel {
    background-color: white;
    border-radius: 10px;
    padding: 15px 15px ;
    width: 16%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;

}

.qr img {
    max-width: 100%;
    border-radius: 10px ;
}

.qr h2{
    text-align: center;
    font-weight: 700;
    color:hsl(218, 44%, 22%);
    
}

.qr p {
    text-align: center;
    color:hsl(220, 15%, 55%);
    font-size: 15px;
}



@media (min-width:480px){
    .panel {
        width: 59%;
    }
}


@media (min-width:768px){
    .panel{
        width: 33%;
    }
}

@media (min-width:992px){
    .panel{
        width: 16%;
    }
















